In [1]:

from utils import *
import numpy as np
import pandas as pd

### Dataloading

In [2]:
bottleneck_070 = load_data('Bottleneck_Data', 'uo-180-070')
bottleneck_070

        ID  FRAME        X        Y        Z
0        1    219  130.771  772.562  155.467
1        1    220  132.569  758.186  155.467
2        1    221  134.659  745.493  155.467
3        1    222  134.878  734.659  155.467
4        1    223  133.482  724.252  155.467
...    ...    ...      ...      ...      ...
75330  148   1581  132.408 -572.917  163.764
75331  148   1582  133.420 -582.078  163.764
75332  148   1583  133.959 -590.682  163.764
75333  148   1584  134.090 -598.287  163.764
75334  148   1585  134.090 -605.003  163.764

[75335 rows x 5 columns]

### Data Generate

In [3]:
data_with_speed = add_speed(bottleneck_070)
data_with_speed

        ID  FRAME        X        Y     speed
0        1    219  130.771  772.562  2.318080
1        1    220  132.569  758.186  2.318080
2        1    221  134.659  745.493  2.058227
3        1    222  134.878  734.659  1.733794
4        1    223  133.482  724.252  1.680034
...    ...    ...      ...      ...       ...
75330  148   1581  132.408 -572.917  1.439601
75331  148   1582  133.420 -582.078  1.474676
75332  148   1583  133.959 -590.682  1.379339
75333  148   1584  134.090 -598.287  1.216981
75334  148   1585  134.090 -605.003  1.074560

[75335 rows x 5 columns]

In [4]:
training_data = generate_data(data_with_speed) # the last column is the target---speed

The shape of the dataset (containing features and targets) is  (74461, 22) .

array([[ 3.49104364e+02, -8.02104000e+01, -2.06030000e+01, ...,
        -9.28091000e+01,  5.37675000e+02,  2.11570797e+00],
       [ 3.70771726e+02,  8.02104000e+01,  2.06030000e+01, ...,
        -1.25987000e+01,  5.58278000e+02,  2.70922551e+00],
       [ 2.91833810e+02, -2.89710000e+01, -8.78950000e+01, ...,
        -1.21780100e+02,  4.49780000e+02,  2.11951461e+00],
       ...,
       [ 1.12948519e+02, -3.20153000e+01, -3.69630000e+01, ...,
        -3.14644000e+01, -2.93599000e+02,  4.57825323e-01],
       [ 1.31160678e+02, -6.13977000e+01,  1.40370000e+01, ...,
        -9.28621000e+01, -2.79562000e+02,  2.45940350e-01],
       [ 1.65719466e+02, -6.27184000e+01,  9.72600000e+00, ...,
        -6.54961000e+01, -3.72070000e+02,  4.42451498e-01]])

### Training